nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
}
.logo-wrapper{
    padding: $padding-lv2 $padding-lv1;
}
.logo-container{
    display: block;
    width: 200px;
    height: 70px;
    max-height: 70px;
    min-height: 50px;
    img{
        margin: auto;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
    }
}
.search-bar-wrapper{
    @extend .col-xl-5;
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    
    .search-bar-label{
        display: block;
        position: relative;
        overflow: hidden;
    }
}
.global-search-input{
    border: 2px solid $color-elevation-6dp;
    border-radius: $border-radius-normal;
    padding: $padding-lv1 $padding-lv3;
    width: 100%;
    font-size: $font-size-lg;
    background-color: transparent;
    color: $color-secondary;

    &:focus{
        outline: none;
    }

    &::placeholder{
        color: darken($color: $color-lightest-grey, $amount: 20);
    }
}
.input-reset-button{
    position: absolute;
    top: 22%;
    right: 0;
    display: none;
    background-color: transparent;
    border: none;
    padding: 0 $padding-lv2;
    margin-right: $margin-lv2;
    cursor: pointer;

    &.show{
        display: block;
    }

    &:focus,
    &:active{
        outline: none;
    }
}
.search-submit-button{
    padding: $padding-lv2;
    background-color: $color-secondary;
}
.remove-icon{
    @extend .fas;
    @extend .fa-times;
    color: $color-lightest-grey;
    opacity: 0.7;
}
.icon-magnifier{
    @extend .fas;
    @extend .fa-search;
    color: $color-primary;
    font-size: $font-size-xl;
}
.nav-icons{
    padding: $padding-lv2 0;
}
.magnify-icon-wrapper{
    display: none;
}
.magnify-icon-wrapper,.menu-icon-wrapper{
    padding: $padding-lv1;
    margin: 0 $margin-lv1;
}
.magnify-icon{
    @extend .fas;
    @extend .fa-search;
    color: $color-secondary;
    font-size: 1.67rem;
}
.menu-icon-wrapper{
    cursor: pointer;

    &:hover{
        .bar{
            transform: scaleX(0.75);
            transform-origin: right;
            border-color: $color-secondary;
        }
        .bar:first-child{
            transform: scaleX(1.2);
            transform-origin: right;
        }
        .bar:last-child{
            transform: scaleX(0.35);
            transform-origin: right;
        } 
    }
}
.menu-text{
    color: white;
    font-size: 1.67rem;
    margin-right: $margin-lv1;
    vertical-align: middle;
}
.menu-bars{
    display: inline-block;
    vertical-align: middle;
}
.bar{
    display: block;
    width: 25px;
    border: 2px solid #fff;
    margin: 0 0 $margin-lv1 0;
    border-radius: $border-radius-normal;
    transition: transform 200ms ease-in;
}
.bar:first-child{
    margin-top: $margin-lv1;
}
.pushed.menu-icon-wrapper{
    .bar:nth-child(2){
        display: none;
    }
    .bar:nth-child(1){
        transform: rotate(45deg) translate(6px,6px);
    }
    .bar:nth-child(3){
        transform: rotate(-45deg) translate(0px,0px);
    }
    .menu-bars{
        padding-bottom: $padding-lv1;
    }
}

@include media-breakpoint-down(sm){
    .logo-container{
        width: auto;
        height: 50px;
        max-height: 50px;
        min-height: 50px;
    }
    .search-bar-wrapper{
        order: 2;
        padding: 0;
        margin: $margin-lv2 0;
    }
    .show.search-bar-wrapper{
        display: block;
    }
    .magnify-icon-wrapper{
        display: inline-block;
        vertical-align: middle;
    }
    .magnify-icon{
        font-size: $font-size-xl;
        padding: $padding-lv1 0;
    }
    .menu-text{ display: none; }
    .category-wrapper{
        top: 100%;
        animation: slideTop .5s;
    }
    .pushed.menu-icon-wrapper .menu-bars{
        padding-bottom: $padding-lv2;
    }
}

@include media-breakpoint-between(md,lg){
    .logo-container{
        width: auto;
        height: 60px;
        max-height: 60px;
    }
    .search-bar-wrapper{
        order: 3;
        padding: 0;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: $padding-lv4 * 3;

    &.open{
        width: 250px;
    }
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: $font-size-xl;
    color: $color-lightest-grey;
    display: block;
}
  
.sidenav a:hover {
    color: $color-secondary;
}
  
.sidenav a.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: $color-lightest-grey;
    opacity: 0.5;
    margin-left: $margin-lv2 * 5;
    cursor: pointer;
    &:hover{
        color: $color-secondary;
        opacity: 1;
    }
}
  
.hide{
    display: none;
}

.search-result-wrapper{
    position: absolute;
    background-color: $color-elevation-2dp;
    left: 0;
    right: 0;
    z-index: 99999;
    
    &.open{
        margin: $margin-lv1+2px 0;
        padding: $padding-lv2 + 2px;
        box-shadow: 0 0 4px 1px #111;
        border-radius: $border-radius-normal;
        
        @include media-breakpoint-between(md, lg){
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding: $padding-lv3;
        }
        @include media-breakpoint-up(lg){
            margin: $margin-lv1+2px $margin-lv3;
        }
    }
}
.loading,
.no-search-result{
    margin-bottom: 0;
    padding: 0 $padding-lv2;
    color: #fff;
    @include media-breakpoint-up(md){
        font-size: $font-size-xl;
        flex: 1 0 100%;
    }
}
.search-result-item{
    @extend .card-dark-theme-horizontal;
    background-color: $color-elevation-6dp;
    margin-bottom: $margin-lv2;
    box-shadow: 0 0 3px 0px #111;
    overflow: hidden;
    @include media-breakpoint-between(md, lg){
        width: 49%;
        &:nth-child(even){
            margin-right: $margin-lv2;
        }
    }
}
.search-result-item-image-wrapper{
    max-width: 33.333%;
    @include media-breakpoint-between(md, lg){
        max-width: 25%;
    }
    @include media-breakpoint-up(lg){
        max-width: 16.666%;
    }
    img{
        width: 100%;
        height: 100%;
        max-height: 100%;
    }
}
.search-result-item-details-wrapper{
    padding: $padding-lv2 $padding-lv1+2px $padding-lv2 $padding-lv3 - 2px;
}
.search-result-item-title,
.search-result-item-media-type,
.search-result-item-rating,
.search-result-item-dept{
    color: $color-lightest-grey;
    margin-bottom: $margin-lv2;
}
.search-result-count{
    display: block;
    color: $color-lightest-grey;
    font-weight: 600;
    text-align: center;
    &:hover{
        color: $color-secondary;
    }
    @include media-breakpoint-up(md){
        flex: 1 0 100%;
    }
}