<div class="layout">
    <div class="header" id='header'></div>
    <div class="main" id="main">
        <div class="notification" id="notification"></div>
        <div class="content" id="content"></div>
    </div>
    <div class="footer" id="footer"></div>
</div>