<div class="layout">
    <header id='header'></header>
    <div class="main" id="main">
        <div class="notification" id="notification"></div>
        <div class="content" id="content"></div>
    </div>
    <footer id="footer"></footer>
</div>