<div class="footer-navigation-tribute-wrapper">
    <div class="footer-navigation-link-wrapper">
        <a href="/movie" class="footer-navigation-link">Movies</a>
        <a href="/tv" class="footer-navigation-link">Tv Shows</a>
        <a href="/people" class="footer-navigation-link">People</a>
        <a href="/animes" class="footer-navigation-link">Animes</a>
    </div>
    <a href="https://www.themoviedb.org/" class="footer-tribute-website-link" target="_blank">
        <img src="{{getAbsoluteAssetPath 'img/tmdb_logo.png'}}" alt="TMDB" class="footer-tmdb-logo">
    </a>
</div>
<p class="footer-copy-right-wrapper">
    <span class="copyright-symbol">&copy; {{currentYear}}</span> Movies Space
</p>