$color-raisin-black: #171A21;
$color-sandal: #F7B538;
$color-rofous: #A50104;
$color-sea-green: #00FFCD;
$color-spring-green: #20FC8F;
$color-liberty: #5158BB;
$color-light-coral: #FF6B6C;
$color-gold: #FFd300;

$color-primary: $color-liberty;
$color-secondary: $color-gold;
$color-theme-background: $color-raisin-black;

$border-radius-normal: 5px;
$border-radius-medium: 100vh;
$border-radius-circle: 50%;

// Pagination
$global-pagination-page-link-color: #ffffff;
$global-pagination-page-link-color-disabled: #737373;
$global-pagination-page-link-color-active: $color-secondary;

$global-pagination-page-link-background-color: #272727;
$global-pagination-page-link-background-color-active: #1d1d1d;

$global-pagination-page-link-border-color: #353535;