
@font-face{
    font-family: 'Ubuntu';
    src: url('../../../../src/vendor/Ubuntu/Ubuntu-Regular.ttf');
}

body{
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label{
    margin-bottom: 0;
}

ul,li{
    list-style-type: none;
}

a:hover{
    text-decoration: none;
}

.layout{
    @extend .container-fluid;
    
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    min-height: 100vh;
    background-color: $color-primary;
        
    @media (max-width: 468px){
        padding: 0;
    }
}

#header,.main,#footer{
    padding: 10px;
}

#header{
    grid-area: header;
}

.notification{
    @extend .alert;
    
    font-weight: bold;
    grid-area: notification;
    display: none;
}

.main{
    grid-area: main;
}

#footer{
    grid-area: footer;
}