@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

body{
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label{
    margin-bottom: 0;
}

ul,li{
    list-style-type: none;
}

a:hover{
    text-decoration: none;
}

.layout{
    @extend .container-fluid;
    background-color: $color-theme-background;
    position: relative;
    overflow: hidden;
        
    @media (max-width: 468px){
        padding: 0;
    }
}

#header,.main,#footer{
    padding: $padding-lv2 $padding-lv2 + 2px;
}

.notification{
    @extend .alert;  
    font-weight: bold;
    display: none;
}

.main{
    min-height: 300px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    background: rgba($color: $color-raisin-black, $alpha: 0.4);
    display: none;

    &.show{
        display: block;
    }
}