<li class="logo-wrapper">
    <a class="logo-container" href="#"><img src="LocalDist/logo.png" alt=""></a>
</li>
<li class="search-bar-wrapper">
    <form>
        <label for="search-bar">
            <input type="search" name="search-bar" id="search-bar" placeholder="Search for movies, tv shows, people">
            <button class="input-reset-button" type="reset">
                <i class="remove-icon"></i>
            </button>
        </label>
    </form>
    <div data-view="Search.View"></div>
</li>
<li class="nav-icons">
    <label class="magnify-icon-wrapper"  data-toggle="collapse" data-target=".search-bar-wrapper" aria-expanded="false">
        <i class="magnify-icon"></i>
    </label>
    <label class="menu-icon-wrapper" data-toggle="push" data-target="#sidenav">
        <span class="menu-text">Menu</span>
        <span class="menu-bars">
            <i class="bar"></i>
            <i class="bar"></i>
            <i class="bar"></i>
        </span>
    </label>
</li>
<li class="sidenav" id="sidenav">
    <a class="closebtn" data-toggle="push" data-target="#sidenav">&times;</a>
    <a href="movie">Movies</a>
    <a href="tv">Tv Shows</a>
    <a href="#">Animes</a>
    <a href="#">People</a>
</li>