.media-collections-sort-and-filter-wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
}
.genres-filter-container{
    display: inline-block;
    margin: 0 $margin-lv2 + 2px $margin-lv2 0;
    @include media-breakpoint-up(sm){
        margin-bottom: $margin-lv3;
    }
}
label.genres-filter-icon-wrapper{
    position: relative;
    display: inline-flex;
    color: #fff;
    font-size: $font-size-lg;
    padding: $padding-lv1 $padding-lv3;
    border-radius: $border-radius-normal;
    align-items: center;
    z-index: 5;
    cursor: pointer;
    letter-spacing: 1px;
    &.collapsed{
        z-index: 0;
        color: $color-raisin-black;
        background-color: $color-gold;
        .genres-filter-count{
            display: inline-block;
        }
    }
}
.genres-filter-icon{
    @extend .icon-filter;
}
.genres-filter-text{
    display: inline-block;
    margin-left: $margin-lv1;
    font-weight: 600;
}
.genres-filter-count{
    display: none;
    position: absolute;
    top: -15px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: $color-elevation-4dp;
    color: #fff;
    box-shadow: 0 0 3px 0px #050505;
    font-size: $font-size-lg;
    line-height: 1;
    padding: $padding-lv1 - 1px $padding-lv1 + 2px;
    border-radius: $border-radius-medium;
    font-weight: 600;
}
.genres-filter-modal{
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 4;
    background-color: $color-elevation-4dp;
    box-shadow: 0 0 4px 1px #050505;
    border-radius: $border-radius-normal;
    &.collapse:not(.show){
        display: none;
    }
    @include media-breakpoint-between(sm, md){
        width: 50%;
    }
    @include media-breakpoint-up(lg){
        width: 33.333%;
    }
}
.genres-filter-action-wrapper {
    padding: $padding-lv1 $padding-lv1 + 2px;
    border-bottom: 1px solid $color-elevation-1dp;
    text-align: right;
}
button.genres-filter-reset-buton,
button.genres-filter-apply-buton {
    border: none;
    padding: $padding-lv1 $padding-lv3;
    border-radius: $border-radius-normal;
    cursor: pointer;
    margin: $margin-lv1 - 1px $margin-lv1;
    font-weight: 600;
    letter-spacing: 0.03rem;
    outline: none;
}
button.genres-filter-apply-buton {
    background: $color-gold;
    color: $color-raisin-black;
}
.genres-filters-wrapper {
    padding: $padding-lv2;
    display: flex;
    flex-flow: row wrap;
}
.genres-filter-item{
    position: relative;
    color: #fff;
    margin: $margin-lv1;
}
.genres-filter-input{
    display: inline-block;
    position: absolute;
    opacity: 0;

    &:checked + .genres-filter-name-badge{
        background-color: #e6e6e6;
        color: $color-raisin-black;
    }
}
.genres-filter-name-badge{
    display: inline-block;
    background-color: $color-elevation-8dp;
    padding: $padding-lv1 $padding-lv2;
    box-shadow: 0 0 2px 0px #050505;
    border-radius: $border-radius-normal;
    cursor: pointer;
}
.media-collection-sortBy-container{
    display: inline-block;
    margin-bottom: $margin-lv2;
    @include media-breakpoint-up(sm){
        margin-bottom: $margin-lv3;
    }
}