.media-collection-view-container{
    @extend .row;
    @include media-breakpoint-down(sm){
        margin-left: -$margin-lv1;
        margin-right: -$margin-lv1;
    }
}
.media-collection-media-container{
    @extend .col-md-4;
    @extend .col-sm-3;
    padding: 0 $padding-lv2;
    margin-bottom: $margin-lv3;
    @include media-breakpoint-up(lg){
        flex: 0 0 20%;
        max-width: 20%;
    }
    @include media-breakpoint-down(xs){
        flex: 0 0 50%;
        max-width: 50%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 $padding-lv1;
    }
}
.media-collection-media-wrapper{
    @extend .card-dark-theme;
    overflow: hidden;
}
.media-collection-media-link{
    @extend .card-dark-theme-image-container;
}
.media-collection-media-image{
    @extend .card-dark-theme-image;
    max-width: 100%;
    &[data-src]{
        min-height: 150px;
        @include media-breakpoint-up(sm){
            min-height: 250px;
        }
    }
}
.media-collection-media-attribute-wrapper{
    @extend .card-dark-theme-body;
}
.media-collection-media-rating-view{
    .media-rating-warpper{
        min-width: 70px;
        margin: auto;
    }
}
.media-collection-media-popularity{
    color: $color-secondary;
    display: flex;
    flex-direction: column;
}
.media-collection-media-popularity-count{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
}
.media-collection-media-popularity-icon{
    @extend .icon-line-chart;
    font-size: 3rem;
    text-align: center;
}
.media-collection-media-wrapper:hover{
    .media-collection-media-attribute-wrapper{
        height: 30%;
    }
}